#ssh config example only - not referenced by any content in this directory
Host bastion-6678
  Hostname bastion.6678.example.opentlc.com
  User mjohnson-redhat.com
  IdentityFile ~/.ssh/id_rsa
  ForwardAgent yes
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no

Host *.6678.internal
  User ec2-user
  IdentityFile ~/.ssh/6678key.pem
  ProxyJump bastion-6678
  StrictHostKeyChecking no

Host workstation
  Hostname workstation-a183.rhpds.opentlc.com
  User cloud-user
  IdentityFile ~/.ssh/openstack.pem
  ForwardAgent yes
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no

Host 10.10.10.*
  User cloud-user
  IdentityFile ~/.ssh/openstack.pem
  ProxyJump workstation
  StrictHostKeyChecking no
